<h1>Hello,Sir!</h1>
<% if employee_signed_in? %>
  Logged in as <strong><%= current_employee.email %></strong>.
  <%= link_to 'Edit profile', edit_employee_registration_path %> |
  <%= link_to "Logout", destroy_employee_session_path, method: :delete %>
<% else %>
  <%= link_to "Sign up", new_employee_registration_path  %> |
  <%= link_to "Login", new_employee_session_path  %>
<% end %>